<section class="lesson">

    <div class="number">
        {{ include.lesson.number }}
    </div>

    <div class="card">

        <div class="date">
            {{ include.lesson.date }}
        </div>

        <h2>
            {{ include.lesson.title }}
        </h2>

        <div class="resources">

            {% for resource in include.lesson.resources %}

                {% assign resource_info = site.data.resource_types[resource.type] %}

                <div class="resource {{ resource_info.color }}">

                    <a href="{{ resource.href }}">
                        <span class="resource-dot">●</span>
                        {{ resource_info.label }}
                    </a>

                    <input
                        class="done"
                        type="checkbox"
                        id="lesson-{{ include.lesson.number }}-{{ resource.type }}"
                        aria-label="Отбележи {{ resource_info.label }} като завършено"
                    >

                </div>

            {% endfor %}

        </div>

    </div>

</section>
